<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qhhhq.dao.merachant.MerachantTypeMapper">
	<resultMap id="BaseResultMap" type="net.qhhhq.model.merachant.MerachantType">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="valid" jdbcType="BIT" property="valid" />
		<result column="parent" jdbcType="BIGINT" property="parent" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, valid, parent
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from merachant_type
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from merachant_type
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByPrimaryKeys" parameterType="java.lang.Long">
		delete from merachant_type
		where id in
		<foreach collection="array" item="id" index="index" open="("
			close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	<insert id="insert" parameterType="net.qhhhq.model.merachant.MerachantType">
		insert into merachant_type (id, name, valid,
		parent)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{valid,jdbcType=BIT},
		#{parent,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="net.qhhhq.model.merachant.MerachantType">
		insert into merachant_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="parent != null">
				parent,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=BIT},
			</if>
			<if test="parent != null">
				#{parent,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="net.qhhhq.model.merachant.MerachantType">
		update merachant_type
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=BIT},
			</if>
			<if test="parent != null">
				parent = #{parent,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="net.qhhhq.model.merachant.MerachantType">
		update merachant_type
		set name = #{name,jdbcType=VARCHAR},
		valid = #{valid,jdbcType=BIT},
		parent = #{parent,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="queryTotalRecords" resultType="java.lang.Long">
		select count(*) from merachant_type where parent is null
	</select>
	<select id="queryAllRecords" resultMap="BaseResultMap">
		select id, name,valid from merachant_type where parent is null
	</select>
	<select id="queryMerachantTypeByParent" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select id, name,valid, parent from merachant_type
		where parent = #{parent,jdbcType=BIGINT}
	</select>
</mapper>