<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qhhhq.dao.merachant.MerachantCurrentActiveMapper">
  <resultMap id="BaseResultMap" type="net.qhhhq.model.merachant.MerachantCurrentActive">
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="active_id" jdbcType="BIGINT" property="activeId" />
  </resultMap>
  <insert id="insert" parameterType="net.qhhhq.model.merachant.MerachantCurrentActive">
    insert into merchant_current_active (merchant_id, active_id)
    values (#{merchantId,jdbcType=BIGINT}, #{activeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="net.qhhhq.model.merachant.MerachantCurrentActive">
    insert into merchant_current_active
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="activeId != null">
        active_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="activeId != null">
        #{activeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>