<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qhhhq.dao.shop.ShopTypeMapper">
  <resultMap id="BaseResultMap" type="net.qhhhq.model.shop.ShopType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="parent" jdbcType="BIGINT" property="parent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, valid, parent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.qhhhq.model.shop.ShopType">
    insert into shop_type (id, name, valid, parent
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{valid,jdbcType=BIT}, #{parent,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.qhhhq.model.shop.ShopType">
    insert into shop_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="parent != null">
        parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.qhhhq.model.shop.ShopType">
    update shop_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.qhhhq.model.shop.ShopType">
    update shop_type
    set name = #{name,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=BIT},
      parent = #{parent,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>